body {
  padding: 0;
  margin: 0;
  min-width: 735px;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}

.mauto {
  margin: auto !important;
}

.flex {
  display: flex;
}

.col {
  width: 100%;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.row {
  width: 100%;
}

.nav-wrapper {
  .router-link-active {
    outline: 1px dashed #000;
  }
  .nav-item {
    margin-left: 5px;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

button {
  padding: 5px 12px;
  border-radius: 0;
  border-radius: 2px;
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 15px;

  &:hover {
    background: darken(#ccc, 2%);
  }

  &.btn-main {
    background: #508dec;
    color: #fff;
    border-color: #9fbdec;

    &:hover {
      background: darken(#508dec, 2%);
    }
  }

  &.btn-green {
    background: #15a06b;
    color: #fff;
    border-color: #4cd8a2;

    &:hover {
      background: darken(#15a06b, 2%);
    }
  }

  &.btn-alt {
    background: #313131;
    color: #fff;
    border-color: #636363;

    &:hover {
      background: darken(#313131, 2%);
    }
  }

  &.btn-red {
    background: #cc180b;
    color: #fff;
    border-color: #e06259;

    &:hover {
      background: darken(#cc180b, 2%);
    }
  }
}

button,
a {
  font-size: 16px;
  line-height: 1;
  display: inline-block;
}

.nav-wrapper {
  width: 100%;
  background-color: $light-grey;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 15px;
}

a {
  text-decoration: none;
  padding: 5px 12px;

  color: #000;
  &:hover {
    background: darken(#fff, 4%);
  }
}

select,
input {
  height: 25px;
}

.container {
  max-width: 1400px;
  margin: 30px auto;
  padding: 0 15px;

  a {
    border: 1px dashed #000;
    background: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-bottom: 15px;
}

.input-wrapper {
  margin-bottom: 20px;
  width: 250px;
  label,
  input {
    display: block;
    width: 100%;
  }
  select {
    width: 100%;
  }
  label {
    margin-bottom: 2px;
    color: $ui-text;
  }
}

.game-settings {
  margin-left: 12px;
}

.accent {
  border: 1px dashed black;
  padding: 0 12px;
  text-transform: capitalize;
  display: inline-block;
  background: #eee;
}

.bold {
  font-weight: bold;
}

.bg-light {
  background-color: $light-grey;
}

.game-info {
  display: none;
}

.ui-pointer {
  cursor: pointer;
}

.is-shown {
  display: block !important;
}

.green-text {
  color: $green;
}
